<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Algolia example with Angular.js</h1>
      <div class="form">
        <input autocomplete="off" autocorrect="off" class="form-control" ng-keyup="search()" ng-model="query" placeholder="Search people by name, company, location or keywords" spellcheck="false" type="text">
      </div>
    </div>
  </div>
  <br>
  <div class="hit" ng-repeat="hit in hits">
    <div class="row">
      <div class="col-lg-1 col-sm-2">
        <img ng-src="{{ hit.picture_url || 'https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_80x80_v1.png' }}" />
      </div>
      <div class="col-sm-4">
        <div ng-bind-html="hit._highlightResult.name.value"></div>
        <div ng-bind-html="hit._highlightResult.email.value"></div>
        <div ng-bind-html="hit._highlightResult.web.value"></div>
        <div ng-bind-html="hit._highlightResult.organisation.value"></div>
      </div>
      <div class="col-sm-4">
         <address>
          <span ng-bind-html="hit._highlightResult.company.value"></span><br>
          <span ng-bind-html="hit._highlightResult.address.value"></span><br>
          <span 
          ng-bind-html="hit._highlightResult.city.value + ' ' + hit._highlightResult.state.value + ' ' + hit._highlightResult.zip.value">
        </span><br>
          <abbr title="Phone">P:</abbr><span ng-bind-html="hit._highlightResult.phone.value"></span>
        </address>
      </div>
    </div>
  </div>
  <p ng-show="!hits.length" class="text-center">No results are matching your query.</p>
</div>